body {
margin: 0 40px;
}
.container_large {
margin: 0 auto;
}
/* Header Styling */
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%
}
.logo {
  display: inline-flex;
  color: MediumAquaMarine;
  flex-grow: 1
}
.logo span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.navigation {
  display: inline-flex;
  color: black;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap
  flex: 1;
  width: 100%
  flex-grow: 2;
}
.navigation li {
color: black;
list-style: none;
display: inline-flex;
justify-content: flex-end;
flex-wrap: wrap
text-decoration: none;
padding: 10px;
}
/*Main Container Styling*/
.container_main {
  display: flex;
  align-content: space-between;
}
.column_large {
  width: 630px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.column_medium {
  display: flex;
  width: 300px;
  flex-direction: column;
  padding: 15px;
}
.column_small {
  display: flex;
  width: 240px;
  flex-direction: column;
  padding: 15px;
}

/* Story Content*/

.main_image {
  background-image: url(../media/main_story.png);
  color: white;
  font-family: Georgia;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  padding: 15px;
}
.earth-spins {
  background-image: url(../media/story2.png);
}
.cat {
  background-image: url(../media/story1.png);
}
.research {
  background-image: url(../media/story3.png);
}
.image {
  color: white;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  padding: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  height: 300px;
  text-align: center;
}
